.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #f2f3ff !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.box {
  width: 650px;
  margin: 0 auto;
  border: 2px solid #586b8e;
  border-radius: 3px;
  background-color: #b7bcff;
}

.title {
  margin-left: 10px;
}

.address-list {
  list-style: none;
  margin: 0px 10px 0px 10px;
}

.address-list li.address {
  margin: 10px 15px 10px 15px;
  border: 2px solid #586b8e;
  padding: 5px 10px;
  border-radius: 3px;
  color: #586b8e;
  //background-color: #fff ;
}

.box ul {
  padding: 0;
}

.details {
  width:80%;
  display: inline-block;
}

.details .glyphicon{
  font-size: 10px;
}
.action {
  float: right;
  display: inline-block;
}

.action ul {
  list-style: none;
  margin: auto;
  float: right;
}
.action .glyphicon {
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer !important;
}

.action .glyphicon:hover {
  color: #00b3ee;
}
.searchcontainer {
  margin-bottom: 20px;
}

.searchcontainer  input, .searchcontainer  button {
  border: 1px solid #586b8e;
}
.name{
  font-size: 18px;
  text-decoration: underline;
}
.email{
  font-size: 14px;
}
.country{
  font-size: 16px;
}

.title-bar {
  margin-bottom: 25px;
  color: #586b8e;
}

.addform {
  margin: 0px 55px 0px 55px;
}

.bar {
  padding-bottom: 25px;
}
.counts {
  float: right;
}

.counts, .display-filter {
  font-weight: bold !important;
  border: transparent;
  border-radius: 3px;
  background-color: #586b8e !important;
  color: ghostwhite !important;
  font-size: 12px !important;
  padding: 4px 8px;
}

ul.address-list li:first-child,ul.address-list li:nth-child(2) {
  border: none !important;
  background-color: inherit !important;
}

/*.has-error input.has-error + span, select.has-error + span{
  color: #ffcccc !important;
}*/
input.has-error, select.has-error {
  background-color: #ffcccc !important;
  border: solid 1px #ff6666 !important;
}
li.address.tile:hover {
  background-color: #f0efff !important;
}

li.address.tile {
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(242,230,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(242,230,255,1)));
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(242,230,255,1) 100%);
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(242,230,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(242,230,255,1) 100%);
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(242,230,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#f2e6ff', GradientType=1 );
}

#addform span {
  color: #ff6666 !important;
}
.readme {
  position: absolute !important;
  right: 10px;
  top: 10px;
  background-color: #586b8e !important;
  color: #fff !important;
}
